
@mixin burger-menu {

    .header .menu-icon {
        cursor: pointer;
        padding: 20px;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: rgb(130, 126, 126);
        display: block;
        height: 2px;
        position: relative;
        transition: background var(--transition);
        width: 25px;
    }

    .header .menu-icon .navicon::before,
    .header .menu-icon .navicon::after {
        background: rgb(112, 106, 106);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all var(--transition);
        width: 100%;
    }

    .header .menu-icon .navicon::before { top: 8px; }
    .header .menu-icon .navicon::after  { top: -8px; }

    .header .menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: var(--bg-menu);
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-out;
    }

    .menu-btn {
        display: none;
    }

    .header .menu li a {
        display: block;
        padding: 20px;
        color: var(--text-muted);
        text-decoration: none;
        border-bottom: 1px solid #eeeaee;
    }

    .menu-btn:checked ~ .menu-icon .navicon { background: transparent; }
    .menu-btn:checked ~ .menu-icon .navicon::before { transform: rotate(-45deg); top: 0; }
    .menu-btn:checked ~ .menu-icon .navicon::after  { transform: rotate(45deg);  top: 0; }
    .menu-btn:checked ~ .menu { max-height: 240px; }
}
